@charset "UTP-8";

/*
    se HTML é id    = se CSS é #
    se HTML é class = se CSS é .
*/

body{
    background-color: beige;
}

h1{
    background-color: rgba(250, 220, 184, 0.623);
    color: #972f2f;
    width: 235px;
    text-indent: 2px;
}

#principal{
    text-align: center;
    background-color: #977d5c;
    color: white;
    width: 100%;
}

h2{
    color: #977d5c;
}

.topico{
    color: #b15819;
    text-shadow: 1px 1px 3px #a52a2a69;
}